
.mydialog {
    width: 50vw;
}

@media screen and (max-width: 40em) {
    .mydialog {
        width: 75vw;
    }
}

.p-datatable .p-datatable-thead > tr > th {
    text-align: left;
    padding: 1rem 1rem;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #fff;
    background: #f8f9fa;
    transition: box-shadow 0.2s;
}