<div class="navbar navbar-inverse navbar-fixed-top navbar-custom">
  <div class="container"> <!-- Links -->
  
      <a routerLink="autorisations" class="nav-link" routerLinkActive="active">Autorisation List</a>
      <a routerLink="autos" class="nav-link" routerLinkActive="active">Autorisation List Admin</a>
      <a routerLink="conges" class="nav-link" routerLinkActive="active">Conge List</a>
      <a routerLink="congesad" class="nav-link" routerLinkActive="active">Conge List Admin</a>
      <a routerLink="tickets" class="nav-link" routerLinkActive="active">Ticket List</a>
      <a routerLink="dims" class="nav-link" routerLinkActive="active">Dim List </a>
      <a routerLink="addDim" class="nav-link" routerLinkActive="active">add dim</a>

  </div>

</div>
  <br>
  
  <div class="card">
  <router-outlet></router-outlet>
    </div>
